---
title: Contact
sort: 9
posts: ['src/content/Contact1.md','src/content/Contact2.md','src/content/Contact3.md','src/content/Contact4.md']
---
<section>
{{#markdown}}
#Contact

###Any question regarding the school can be sent to:

{{/markdown}}
  
  <div class="row">
    <div class="col-sm-1"></div>
    {{#each posts}}
    <article class="col-md-2 col-sm-5">
      {{md this }}
    </article>
    {{/each}}
  </div>
</section>
