---
title: Gallery
sort: 10
---

<h1>{{title}}</h1>

<section class="gallery" id="main">
  <div class="row">
    <ul id="lightGallery">
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_6070.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_6070.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0320.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0320.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0321.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0321.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0322.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0322.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0323.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0323.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0324.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0324.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0328.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0328.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0330.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0330.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0332.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0332.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0333.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0333.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0334.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0334.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0337.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0337.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0338.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0338.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0343.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0343.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0344.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0344.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0348.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0348.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0351.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0351.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0352.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0352.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0369.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0369.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0372.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0372.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0374.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0374.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0375.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0375.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0376.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0376.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0378.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0378.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0381.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0381.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0383.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0383.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0386.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0386.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0390.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0390.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0392.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0392.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0399.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0399.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0405.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0405.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0407.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0407.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0411.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0411.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0412.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0412.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0413.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0413.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0417.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0417.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0418.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0418.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0421.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0421.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0432.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0432.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0438.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0438.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0445.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0445.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0447.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0447.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0448.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0448.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0472.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0472.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0491.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0491.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0524.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0524.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0526.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0526.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0529.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0529.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0544.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0544.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0558.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0558.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0562.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0562.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0580.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0580.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0583.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0583.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0589.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0589.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0594.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0594.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0595.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0595.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0610.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0610.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0617.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0617.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0619.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0619.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0622.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0622.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0634.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0634.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0640.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0640.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0644.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0644.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0652.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0652.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0664.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0664.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0667.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0667.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0670.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0670.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0677.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0677.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0687.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0687.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0696.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0696.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0702.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0702.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0741.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0741.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0743.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0743.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0748.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0748.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0755.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0755.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0759.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0759.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0764.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0764.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0770.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0770.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0771.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0771.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0783.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0783.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0785.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0785.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0793.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0793.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0794.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0794.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0803.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0803.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0819.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0819.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0822.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0822.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0824.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0824.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0825.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0825.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0827.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0827.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0829.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0829.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0830.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0830.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0831.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0831.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0832.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0832.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0833.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0833.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0838.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0838.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0840.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0840.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0845.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0845.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0871.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0871.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0876.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0876.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0880.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0880.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0881.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0881.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0883.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0883.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0886.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0886.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0890.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0890.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0893.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0893.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0897.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0897.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0904.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0904.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0905.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0905.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0912.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0912.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0919.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0919.jpg"></li>
<li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/gallery/DSC_0920.jpg"><img src="assets/img/loader.gif" data-src="assets/img/gallery/thumbs/DSC_0920.jpg"></li>

    </ul>
  </div>
</section>