---
title: Home
sort: 1
h1: 'Aim of school'
lead: Welcome to my blog!
---
<div class="jumbotron row">
<!--    <img class="col-sm-6 img-responsive img-rounded" src="assets/img/56.jpg" alt="Really cool image">-->
    <div id="home-hero" class="row">
        <div class="clearfix">
            <h1>{{ h1 }}</h1>
            <p>The aim of school is to bring together graduate students from universities from whole <em>Danube region</em> and also <em>Worldwide</em>. The school is an equal opportunity intended for MSc, PhD students and postdocs who want to aquire "hands-on" experience in different detector technologies used in particle and nuclear physics.</p>
            <p><a href="registration.html" class="btn btn-warning btn-lg col-xs-6 col-xs-offset-6 col-md-4 col-md-offset-8" role="button">Register &raquo;</a></p>
        </div>
    </div>
</div>


<section id="main">
    <div class="row">
        <article class="col-sm-4">
            <h1>Scope</h1>
            <img class="img-responsive img-rounded" src="{{assets}}/img/ictp.jpg" alt="Picture of ICTP Trieste">
            <p>The ICFA schools started in 1987 at the International Center of Theoretical Physics (ICTP) of Trieste. The aim of the school was to share the expertise in new detector technologies with physicists from less developed countries guests of the ITCP. After that very positive experience, reproduced in 1989 again in Trieste, the school started to be organized abroad, in sites located outside the highly industrialized parts of the world.
            </p>
        </article>
        <article class="col-sm-4 ">
            <h1>Venue</h1>
            <img class="img-responsive img-rounded" src="{{assets}}/img/unskampus.jpg" alt="University of Novi Sad Campus">
            <p></p>The University of Novi Sad is a contemporary educational, scientific and art institution, with around 50 thousands students at three levels of studies and 3,500 teaching staff at 350 study programmes. For many years the University has been intensively developing international cooperation with universities and other institutions in the area of higher education, scientific and research activities from Europe and the world. It has presided over the Danube Rectors’ Conference in 2010 and is a member of many other international organizations, such as the European University Association, European University Foundation, Balkan Universities Network, the Alpe Adria Initiative Universities’ Network etc...
            </p>
        </article>
        <article class="col-sm-4 ">
            <h1>Topics</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, molestiae, ducimus, quidem, odit rem dolore cum sapiente dolor facilis reiciendis necessitatibus fugiat libero iure maiores dignissimos voluptates nobis commodi numquam!
                lorem</p>
        </article>
    </div>
    <div class="row">
        <article class="col-sm-4 ">
            <h1>Registration</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, molestiae, ducimus, quidem, odit rem dolore cum sapiente dolor facilis reiciendis necessitatibus fugiat libero iure maiores dignissimos voluptates nobis commodi numquam!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, magnam deleniti architecto excepturi nemo nostrum quidem aliquid doloribus iste dolorem atque amet non velit blanditiis ex laudantium eligendi. Neque, soluta?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, aspernatur, expedita, velit, incidunt reprehenderit corporis laudantium harum aut enim fugiat reiciendis unde quis fuga debitis animi magnam nihil deserunt beatae.</p>
        </article>
        <article class="col-sm-4 ">
            <h1>Travel &amp; Accomodation</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, molestiae, ducimus, quidem, odit rem dolore cum sapiente dolor facilis reiciendis necessitatibus fugiat libero iure maiores dignissimos voluptates nobis commodi numquam!</p>
        </article>
        <article class="col-sm-4 ">
            <h1>Contact</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, molestiae, ducimus, quidem, odit rem dolore cum sapiente dolor facilis reiciendis necessitatibus fugiat libero iure maiores dignissimos voluptates nobis commodi numquam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, aut, quasi, eligendi incidunt ullam ducimus iure velit est pariatur dicta placeat nostrum quos quibusdam aliquam quia asperiores omnis earum sapiente?</p>
        </article>
    </div>
</section>



