---
title: Links
sort: 8
posts: ['src/content/Links.md']
---

<section class="links" id="main">

  <div class="row">
    {{#each posts}}
    <article class="col-sm-8 col-sm-offset-2">
      {{md this }}
    </article>
    {{/each}}
  </div>
</section>