---
title: Organization
sort: 7
posts: ['src/content/Organization - international.md','src/content/Organization - local.md']
---

<section class="organization" id="main">
<h1>{{title}}</h1>
  <div class="row">
    {{#each posts}}
    <article class="col-sm-6">
      {{md this }}
    </article>
    {{/each}}
  </div>
</section>
