---
title: Participants
sort: 2
posts: ['src/content/Participants.md']
---

<section class="participants" id="main">
  <article>
  <div class="row">
  <div class="col-md-4">  
     {{#markdown}}

# Participants

Students who have been granted travel expenses reimbursement will be contacted individually. Travel is covered from their Home Institution city.
      {{/markdown}}
    </div>
    <!-- {{#each posts}} -->
    
      <!-- {{md this }} -->
      
        <div class="col-md-8">  
          <div class="table-responsive">
            <h3>List of participants</h3>
            <table class="table table-focus table-condensed"><thead><tr><th style="width: 15%">First Name</th><th style="width: 25%">Last Name</th><th>Position</th><th>Institution</th></tr></thead><tbody>
              <!-- <tr><th colspan="5" style="text-align: center" class="active">Students from Danube Region</th></tr> -->
              <tr><td>Adriana</td><td>Milic</td><td>PhD student</td><td>CERN</td></tr><tr><td>Florian</td><td>Pipper</td><td></td><td>Stefan Meyer Institute for Subatomic Physics, Austrian Academy of Sciences</td></tr><tr><td>Max</td><td>Emde</td><td></td><td>III. Physikalisches Institut B, RWTH Aachen University</td></tr><tr><td>Ronja</td><td>Lewke</td><td>PhD student</td><td>III. Physikalisches Institut B, RWTH Aachen, Aachen, Germany</td></tr><tr><td>Gábor</td><td>Kiss</td><td>PhD student</td><td>Eötvös Lorand University / Wigner RCP of the HAS</td></tr><tr><td>Gergo</td><td>Hamar</td><td>young researcher (scientific assistant)</td><td>WIGNER Research Centre for Physics</td></tr>
              <tr><td>Lucian-Nicolae</td><td>Cojocariu</td><td>Research Assistant</td><td>Horia Hulubei National Institute for R&amp;D in Physics and Nuclear Engineering (IFIN-HH)</td></tr><tr><td>Viacheslav</td><td>Kubytskyi</td><td>Postdoctoral fellow</td><td>Laboratoire de l'Accélérateur Linéaire, Universite Paris Sud 11</td></tr>
              <tr><td>Adrian Florinel</td><td>Bucsa</td><td>physical engineer</td><td>Institute for Nuclear Research</td></tr><tr><td>Stefan-Alexandru</td><td>Nae</td><td></td><td>University of Bucharest, Faculty of Physics</td></tr><tr><td>Dumitriu</td><td>Ana Elena</td><td>physicist</td><td>Horia Hulubei National Institute of Physics and Nuclear Engineering - IFIN HH</td></tr><tr><td>Vitalii</td><td>Khodnevych</td><td></td><td>Taras Shevchenko National University of Kyiv</td></tr><tr><td>Igor</td><td>Kostiuk</td><td>Student / Category 2 Engineer</td><td>Taras Shevchenko National University of Kyiv / Kyiv Institute for Nuclear Research</td></tr><tr><td>Viktor</td><td>Klochkov</td><td></td><td>Taras Shevchenko National University of Kyiv</td></tr><tr><td>Yurii</td><td>Piadyk</td><td>Student</td><td>Taras Shevchenko National University of Kyiv</td></tr><tr><td>Lukas</td><td>Koch</td><td>PhD student</td><td>III. Physikalisches Institut B, RWTH Aachen, Germany</td></tr>
              <!-- <tr><th colspan="5" style="text-align: center" class="active">Students Outside Danube Region</th></tr> -->
              <tr><td>Vladimir</td><td>Cherepanov</td><td>PhD</td><td>RWTH Aachen</td></tr><tr><td>Álvaro</td><td>Dosil</td><td>PhD student</td><td>University of Santiago de Compostela</td></tr><tr><td>Francesco</td><td>Pennazio</td><td>post-doc</td><td>University of Turin, department of Physiscs</td></tr><tr><td>Marco</td><td>Sessa</td><td>PhD student</td><td>University Roma Tre and INFN Roma Tre</td></tr><tr><td>Michele</td><td>Renda</td><td>Engineer</td><td>IFIN-HH Bucharest</td></tr><tr><td>Ioannis</td><td>Katsioulas</td><td>Phd Student</td><td>Aristotle University of Thessaloniki</td></tr><tr><td>Ioannis</td><td>Maznas</td><td>PhD Student</td><td>Aristotle University of Thessaloniki</td></tr><tr><td>Niki</td><td>Vitoratou</td><td></td><td>Physics Department of Aristotle University of Thessaloniki</td></tr>
              <tr><td>Dima</td><td>El Khechen</td><td></td><td>LAL , Laboratoire de l'accélérateur linéaire</td></tr>
              <tr><td>Elnur</td><td>Dadashov</td><td>teacher</td><td>Astara Pedagojical Kollece</td></tr><tr><td>Inaki</td><td>Ortega</td><td>Doctoral Student</td><td>CERN</td></tr><tr><td>Gerard</td><td>Ariño-Estrada</td><td>PhD Student</td><td>IFAE</td></tr><tr><td>André</td><td>Cortez</td><td>Researcher</td><td>Laboratory of Instrumentation and Experimental Particle Physics - LIP Coimbra</td></tr><tr><td>Pedro</td><td>Correia</td><td>PhD student</td><td>Universidade de Aveiro</td></tr><tr><td>Belgin</td><td>Piliçer</td><td>Student</td><td>Uludag University - Bursa/TURKEY</td></tr><tr><td>Ayşegül</td><td>Uşun Simitçioğlu</td><td>Student</td><td>Uludağ University</td></tr><tr><td>Miguel</td><td>Arratia</td><td></td><td>University of Cambridge</td></tr><tr><td>Mohammed Imran</td><td>Ahmed</td><td>PhD student</td><td>AGH University of science and technology krakow poland</td></tr>
              <!-- <tr><th colspan="5" style="text-align: center" class="active">Serbian Students</th></tr> -->
              <tr><td>Dimitrije</td><td>Maletic</td><td>Scientific associate</td><td>Institute of Physics, University of Belgrade</td></tr><!-- <tr><td>Nikola</td><td>Veselinović</td><td></td><td>Institute of Physics,Belgrade</td></tr> --><tr><td>Danijela</td><td>Bogavac</td><td>Research trainee</td><td>Institute of Physics, Belgrade</td></tr><tr><td>Damir</td><td>Devetak</td><td>Phd student</td><td>Vinca Instite of Nuclear Sciences</td></tr><tr><td>Predrag</td><td>Ćirković</td><td></td><td>Institute of Physics Belgrade</td></tr><tr><td>David</td><td>Knežević</td><td>PhD student</td><td>University of Novi Sad, Faculty of Sciences, Department of Physics, Trg D. Obradovića 6, Novi Sad, 21000, Serbia</td></tr><tr><td>Tatjana</td><td>Agatonovic Jovin</td><td>Research Assistant</td><td>Institute of Physics, University of Belgrade</td></tr><tr><td>Toth</td><td>Arpad</td><td></td><td>Faculty of Sciences, Novi Sad</td></tr><tr><td>Aleksandra</td><td>Dimitrievska</td><td>Research Assistant</td><td>Institute of Physics, Belgrade</td></tr><tr><td>Dragana</td><td>Vasiljevic</td><td>Research associate</td><td>Faculty of technical sciences, University of Novi Sad</td></tr><tr><td>Kristina</td><td>Bikit</td><td>Research and Teaching Assistant</td><td>University of Novi Sad, Faculty of Sciences, Department of Physics</td></tr><tr><td>Natasa</td><td>Samardzic</td><td>Teaching assistant</td><td>Faculty of technical sciences, University of Novi Sad</td></tr><tr><td>Dragana</td><td>Stupar</td><td>Research Associate</td><td>Department of Power, Electronics and Telecommunication Engineering, Faculty of Technical Sciences, University of Novi Sad, Republic of Serbia</td></tr><tr><td>Jovan</td><td>Bajic</td><td>Teaching assistant</td><td>Faculty of Technical Sciences, University of Novi Sad</td></tr><tr><td>Stefan</td><td>Petrovics</td><td></td><td>Semiconductor Laboratory of the Max-Planck Society / LMU</td></tr>
              <tr><td>Mirjana</td><td>Cujic</td><td>Research Assistant</td><td>Institute for the Application of Nuclear Energy, University of Belgrade</td></tr><tr><td>Vladimir</td><td>Markovic</td><td>asistent</td><td>Faculty of Science, University of Kragujevac</td></tr>
              <tr><td>Danilo</td><td>Delibašić</td><td>Student</td><td>Faculty of Sciences and Mathematics</td></tr><tr><td>Marko</td><td>Stojanović</td><td>Student</td><td>Faculty of Sciences and Mathematics</td></tr><!-- <tr><td>Igor</td><td>Vidic</td><td>Research trainee</td><td>Institute of Physics Belgrade</td></tr> --><tr><td>Marjan</td><td>Cirkovic</td><td>Teaching Assistant</td><td>Faculty of Physics, University of Belgrade</td></tr><tr><td>Zoran</td><td>Jovanovic</td><td></td><td>UNIVERSITY OF KRAGUJEVAC ,Faculty of Science/ Department of Physics</td></tr><tr><td>Marija</td><td>Marjanovic</td><td>research assistent</td><td>Institute of Physics Belgrade</td></tr><tr><td>Nenad</td><td>Stevanovic</td><td>Professor assistant</td><td>University of Kragujevac, Faculty of Science, Dept. of Physics</td></tr><tr><td>Danko</td><td>Bošnjaković</td><td></td><td>Institute of Physics, Belgrade</td></tr><tr><td>Ivana</td><td>Sandeva</td><td>Demonstrator</td><td>Faculty of electrical engineering and information technologies, University “Ss. Cyril and Methodius” – Skopje, Republic of Macedonia</td></tr>
              </tbody></table>
          </div>
        </div>
      </div>
    </article>
    <!-- {{/each}} -->
  </div>
</section>
