<div class="container-fluid theme-showcase" role="footer">
  <section id="footer">
    <!-- <div class="row">
      <div class="col-sm-4 col-lg-2">
        <h1>Test1</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, laborum mollitia optio rem facere soluta doloribus ut nam atque reiciendis omnis deleniti sit culpa magnam nobis ad asperiores eaque natus.</p>
      </div>
      <div class="col-sm-4 col-lg-2">
        <h1>Test1</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, alias optio accusantium saepe fuga eaque accusamus reiciendis illum consequatur ratione iste repudiandae debitis architecto fugit natus vitae rerum ullam labore.</p>
      </div>
      <div class="col-sm-4 col-lg-2">
        <h1>Test1</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, eum, consequatur, minus, nobis possimus fuga deleniti asperiores id at tempora dolorum obcaecati debitis molestiae quas explicabo. Optio, pariatur fugit numquam!</p>
      </div><div class="clearfix visible-sm visible-md"></div>
      <div class="col-sm-4 col-lg-2">
        <h1>Test1</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, tempore, voluptas, deleniti, perferendis inventore alias quidem earum aut quo praesentium totam ipsum magni a impedit distinctio pariatur ut porro maiores!</p>
      </div>
      <div class="col-sm-4 col-lg-2">
        <h1>Test1</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, adipisci sunt fugit consequuntur assumenda repellendus quos. Quam ipsa nisi amet ipsam vero ratione vel enim. Illo consectetur distinctio error quo!</p>
      </div>
      <div class="col-sm-4 col-lg-2">
        <h1>Test1</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima animi aspernatur eius quos dicta. Dolor, aspernatur, itaque perferendis recusandae libero voluptates corporis autem illum. Sint, quos quo culpa accusamus atque.</p>
      </div>
    </div> -->
    <div class="row">
    <div class="col-sm-4 panel panel-default">
  <div class="panel-body">
{{#markdown}}
Any question regarding the school can be sent to: [cernschool@uns.ac.rs](mailto:cernschool@uns.ac.rs)
{{/markdown}}
  </div>
</div>
<div class="col-sm-4">
  <div class="panel-body">

  </div>
</div>
<div class="col-sm-4 panel panel-default">
  <div class="panel-body">
Weather in Novi Sad:
<span id="weather-widget" style="display: block !important; width: 100%; text-align: center; font-family: sans-serif; font-size: 12px;"><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:00000.19.13168&bannertypeclick=wu_clean2day" title="Novi Sad, Serbia Weather Forecast" target="_blank"><img src="http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_clean2day_metric_cond&pwscode=ISRBIJAB5&ForcedCity=Нови Сад&ForcedState=Србија&wmo=13168&language=EN" alt="Find more about Weather in Novi Sad" width="300" /></a><br><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:00000.19.13168&bannertypeclick=wu_clean2day" title="Get latest Weather Forecast updates" style="font-family: sans-serif; font-size: 12px" target="_blank">Click for weather forecast</a></span>
  </div>
</div>
</div>
    <footer><em>Copyright 2014.</em> University of Novi Sad</footer>
  </section>
</div>
