/* Typography *****************************************************************/
body {
    font-size: 18px;
    -webkit-text-stroke: .15px;
}

h1, h2, #main h1, #main h2, #main h3{
    color: #647fb4;
    -webkit-text-stroke: .5px;
    text-shadow: -0.05em -0.05em 1px rgba(0, 0, 0, 0.8);
    font-variant-numeric: ordinal;
}
.header-title {
    -webkit-text-stroke: .5px;
}

#contact ~ section h4 {
    font-size: 130%;
}

#contact ~ p {
    font-size: 120%;
}

.jumbotron h1{
    color: #647fb4;
    text-shadow: 1px 0.05em 1px rgba(0, 0, 0, 0.8);
}

.navbar-nav > li > a {
    text-shadow: 0 -0.1em 0.2em rgba(127,127,127,0.5), 0 0.1em 0.2em rgba(255,255,255,0.5);  
}

/* Body transition *********************************************************************/
.wrapper{
    transition: all 0.5s;
}

body.loader, html.loader {
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#d7e1f4;
    height:100%;
}

body.loader .navbar {
    display:none;
}
/* Loader wrapper */
.wrapper.loader{
    opacity:1;
    position:fixed;
    top:0;
    left:0;
    z-index:1024;
    background:#d7e1f4;
    margin: auto;
    bottom:0;
    right:0;
}


.wrapper {
    opacity:0;
}


/* Colors *********************************************************************/
body{
    /*background: #ebf0f9;    */
}

.jumbotron{
    background: #ebf0f9;
}

#main {
    background: #d7e1f4;

}

#main h1,#main h2, #main h3{
    color: #647fb4;
}

#footer {
    background: #88a4dd;
}

#footer h1,#footer h2, #footer h3{
    color: #223e77;
}

::selection{
    background:#ffb7b7;
}

legend{
    color: #223e77;
    font-weight: bold;
    width: auto;
}

/*
body {
padding-top: 100px;
padding-bottom: 30px;
}
*/

/*
.theme-dropdown .dropdown-menu {
display: block;
position: static;
margin-bottom: 20px;
}

.theme-showcase > p > .btn {
margin: 5px 0;
}
*/


/* Navbar ****************************************************************************/
.navbar-header{
    float:none;
    transform: translate3d(0,0,0);
}
.navbar-toggle {
    z-index:999;
}
.navbar-collapse{
 user-select: none;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 transform: translate3d(0,0,0);
 transition: all 0.5s;
 position: absolute;
 width:100%;
 background-image: linear-gradient(rgb(176, 194, 232) 0px, rgb(136, 164, 221) 100%);
 border-bottom: 2px rgba(0,0,0,0.5) solid;
}

.navbar-collapse.in {
    min-height: 24em;
    overflow-y:hidden;
}
/* Logo *******************************************************************************/
.navbar-brand.logo{
    /*    margin:10px 2px;*/
    padding:0;
    margin-top:2px;
    margin-left:1px;
    float:none;
    display:block;

}

.header-logos{
    margin-left:0;
    padding:0;
    display: inline-block;
    float:none;
    position:absolute;
    left:0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.logo {
    padding:0;
    /*    margin-top:16px;*/
    /*    margin-right:0px;*/
    margin:2px;
    border-radius: 5px;
    /*background-image: url('http://placehold.it/64x64');*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /*
    width: 48px;
    height: 48px;
    */
    height: 21px;
    width: 21px;
}

.logo.cern {
    background-image: url('../img/logo-cern.jpg');
}

.logo.pmf {
    background-image: url('../img/logo-pmf.jpg');
}

.logo.uns {
    background-image: url('../img/logo-uns.jpg');
}

.logo.ftn {
    background-image: url('../img/logo-ftn.jpg');
}

.logo.ecfa {
    background-image: url('../img/logo-ecfa.jpg');
}

.logo.icfa{
    background-image: url('../img/logo-icfa.jpg');
}


@media (min-width: 320px){
    .navbar-brand.logo{
        display:inline-block;
    }

    .logo {
        width: 42px;
        height: 42px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .header-logos{
        display:block;
        position:static;

        text-align:center;
        padding-left:30px;
        width:100%;
        /*    display:block;*/
        /*    margin-top:16px;*/
        /*    margin-bottom: 2em;*/
        padding-top:4px;
        /*        background-color: white;*/
        /*        background-color: rgba(255,255,255,0.6);*/
        background-image: linear-gradient(rgba(220,220,220,0.5),rgba(255,255,255,0.6));
        /*    outline: 16px solid rgba(200,200,200,0.6);*/
        box-shadow: inset 0 0 5px rgba(0,0,0,0.8);
        border-radius:2px;
        margin-left: -15px;
        box-sizing: content-box;
        margin-top:2em;
        margin-bottom: -2.2em;
        padding-bottom: 2.4em;
    }


    .navbrand-brand.logo{
        display:inline-block;
        position:static;
    }

    .logo{
        margin-right:0.9em;
        width:64px;
        height:64px;
        border: 1px solid rgba(0,0,0,0.3);
    }
    
    .logo.ecfa {
        width: 100px;
    }
    
    .logo.icfa{
        width: 107px;
    }
    
    .logo.ftn{
        width: 59px;
    }
}

@media (min-width: 992px){
    .header-logos{
        padding-top:20px;
        padding-bottom:4em;
        margin-bottom:-2.6em;
    }

    .logo{
        width:96px;
        height:96px;
    }
    
    .logo.ecfa {
        width: 150px;
    }
    
    .logo.icfa{
        width: 161px;
    }
    
    .logo.ftn{
        width: 90px;
    }
}

@media (min-width: 1200px){
    .header-logos{
        padding-top:20px;
        padding-bottom:4em;
    }

    .logo{
        margin-right:2em;
        width:120px;
        height:120px;
    }
    
    .logo.ecfa {
        width: 188px;
    }
    
    .logo.icfa{
        width: 202px;
    }
    
    .logo.ftn{
        width: 115px;
    }
}
/* Title *******************************************************************************/
.header-title{
    padding:0;
    max-width:130px;
    float:none;
    display:inline-block;
    position: absolute;
    left:27px;
    top:3px;
    overflow:hidden;
    font-family: 'Kreon',serif;
    font-weight: 400;
}
.header-title .navbar-brand{
    font-weight: bold;
    font-size: 1em;
    line-height: 0.9em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    text-align:left;
    float:none;
    padding:0;
    display:inline-block;
}

.navbar-brand .ord {
    font-size: 0.6em;
    font-variant: normal;
    vertical-align: super;
}
.navbar-brand small {
    /*    font-size: 90%;*/
    line-height: 1em;
    margin-top:-1em;
    /*    margin-top:1.5em;*/
    margin-bottom:0.2em;
    font-weight: normal;
    color: rgba(255,255,255,0.8);
    /*    position:relative;*/
    display:block;
}

@media (min-width: 320px) {
    .header-title .navbar-brand{
        font-size:1.1em;
        line-height:1.2em;
    }

    .header-title{
        left: 97px;
        max-width: 200px;
    }
}

@media (min-width: 420px) {
    .header-title .navbar-brand{
        font-size:1.2em;
        line-height:1.1em;
    }

    .header-title{
        left: 97px;
        max-width: 260px;
    }
}

@media (min-width: 480px) {
    .header-title .navbar-brand{
        line-height:1.1em;
    }

    .header-title{
        /*        top:10px;*/
        left: 97px;
        max-width: 300px;
    }
}

@media (min-width: 560px) {
    .header-title .navbar-brand{
        font-size: 1.4em;
        line-height: 1.4em;
    }

    .header-title{
        top:8px;
        max-width:380px;
    }
}

@media (min-width: 768px) {
    .navbar .header-title .navbar-brand{
        font-size:2em;
        line-height: 1.1em;
        margin-top:1em;
        margin-left: 0;
        text-align: center;
        display:block;
        height:auto;
    }

    .header-title{
        display:block;
        position:static;
        max-width:100%;
    }
    
    .header-title:after{
        content: "";
        background: url('../img/knitted-netting.png');
        opacity:0.3;
        top:0;
        left:-15px;
        bottom: -80px;
        right:-15px;
        position: absolute;
        z-index:-1;
    }
}

@media (min-width: 992px) { 
    .navbar .header-title .navbar-brand{
        font-size:2.4em;
        /*        line-height: 1.0em;*/
        /*        max-width:80%;*/
    }

    .navbar-header{
        /*        margin-bottom: 2em; */
    }


}


@media (min-width: 1200px) { 
    .navbar .header-title .navbar-brand{
        font-size:2.8em;
        line-height: 1.0em;
        /*        max-width:80%;*/
        /*        max-width:100%;*/
    }

    .navbar-header{
        /*        margin-bottom: 3em;*/
    }
}

/* Nav *****************************************************************************/
.navbar {
    /*    padding-top:16px;*/
    border-bottom-width:1px;
    margin-bottom:0;
    min-width:200px;
    transition: all 0.2s;
}


@media (min-width: 768px){ 
    .navbar {
        border-bottom: none;
    }

    .navbar-collapse.collapse.in {
        min-height:0; 
    }
    
    .navbar-collapse{
        /* margin-bottom: 3em;*/
        text-align:center;
        position: static;
        width: initial;
        background-image: none;
        border-bottom: none;
    }

    .navbar{
        /*        padding-left:20px;*/
        /*        padding-right:20px;*/
        box-shadow: inset 0 -5px 2px -2px rgba(0,0,0,0.3);
    }
    .navbar-default .navbar-nav > li > a {
        /* padding-top:10px;
        padding-bottom:10px;*/
        box-shadow: inset 0 -3px 2px -2px rgba(0,0,0,0.3), 3px -3px 3px rgba(0,0,0,0.4);
        padding:3px;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
        box-shadow: 5px -5px 4px rgba(0,0,0,0.2);
    }
    .nav > li {
        float:none;
        display:inline-block;
        margin-right:7px;
    }

    .navbar-nav{
        /* top:auto;
        bottom:0;
        left:auto;
        right:auto;
        margin-left:auto;
        margin-right:auto;
        width:auto;
        margin-top:0;*/
        margin-top:1em;
        margin-bottom:0;
        display: inline-block;
        float: none;
        font-size:0.8em;
    }


    .navbar-nav a{
        border-radius: 5px 5px 0 0;
        /*        margin-left: 5px;*/
        background: #a3bae3;
        border: 1px solid rgba(255,255,255,0.2);
        border-bottom:none;

    }

    .navbar-default .navbar-nav > li > a:hover {
        background-color: #ebf0f9; 
    }
    
    .navbar-default .navbar-nav > li > a:focus {
        background-color: #ebf0f9; 
    }
    .navbar-nav > li > a {
        padding: 3px 10px;
    }

}

@media (min-width: 920px){ 
    .navbar-nav {
        font-size: 1em;
        /*        margin:0 -15px;*/
        /*        margin-bottom: -0.25em;*/
    }

    .navbar-default .navbar-nav > li > a {
        padding: 8px 4px;
    }
}

@media (min-width: 992px){ 
    .navbar-nav {
        font-size: 1.1em;
        /*        margin:0 2em;*/
        /*                margin-bottom: -0.25em;*/
        margin-bottom:1px;
    }

    .navbar-nav > li > a {
        padding: 8px 10px;
    }
}

@media (min-width: 1200px){ 
    .navbar-nav {
        font-size: 1em;
        /*        margin:0 -15px;*/
        /*        margin-bottom: -0.25em;*/
        margin-bottom:0;
    }

    .navbar-default .navbar-nav > li > a {
        padding: 10px 15px;

    }
    
    .navbar-nav > li {

    }

}

@media (min-width: 1350px){ 
    .navbar-nav {
        font-size: 1.3em;
        /*        margin:0 -15px;*/
        /*        margin-bottom: -0.25em;*/
    }

    .navbar-default .navbar-nav > li > a {
        padding: 10px 15px;

    }
    
    .navbar-nav > li {

    }

}
/* Nav tab active color */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
    background: #ebf0f9;
}

/* Buttons ***********************************************************************************/
.btn {
    border-radius: 15px;
}

/* Hero */
.jumbotron{
    border-bottom: 2px rgba(0,0,0,0.2) solid;
    margin-bottom:-20px;
    margin-top:-20px;
    margin-left:-30px;
    margin-right:-30px;
}

.container .jumbotron,.container-fluid .jumbotron{
    /*border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    margin:0;
    max-height: 25em;
    overflow:hidden;*/
}

.jumbotron.row {
    margin-bottom:0;
}

@media (min-width: 768px){
    .jumbotron h1{
        font-size:2.5em;
    }

    .jumbotron p{
        font-size: 1.2em;
    }
}

.jumbotron img{
    border: 15px solid rgba(255,255,255,0.7);
    padding:0;
    box-shadow: 0 0 1px black;
}

/* Main content ******************************************************************************/
.container,.container-fluid {
    overflow: hidden;
}

#main {
    padding: 2em 0.1em;   
    margin-left:-15px;
    margin-right: -15px;
    border-top: 1px rgba(0,0,0,0.7) solid;
}

#main .row{
    margin:0;
}

#main h2 > small{
    color:inherit;
}

#main article{
    margin-bottom:3em;
}

#main article h2{
    border-left: 10px solid rgba(0,0,0,0.3);
    padding-left: 5px;
}


@media (min-width: 768px){
    #main{
        position: relative;
        z-index:2;
    }
    
    #main article{
        z-index:3;
    }
    
    #main:after{
        content: "";
        background: url('../img/fabric_plaid.png');
        opacity:0.5;
        top:0;
        left:0;
        bottom: 0;
        right:0;
        position: absolute;
        z-index:-1;
    }

  /*  #main > .row {
        -moz-column-count: 2;
        -moz-column-gap: 2em;
        -webkit-column-count: 2;
        -webkit-column-gap: 2em;
        column-count: 2;
        column-gap: 2em;
        padding:1em;
        }*/
    }

    #carousel {
        padding:0;
        border-width:10px;
        transform: translate3d(0,0,0);
    }

    #carousel > .carousel-inner {
      position:relative;
      border:none;
      padding:0;
  }

  #carousel > .carousel-inner > .item {
    padding-top:56.525%;
}

#carousel > .carousel-inner > .item > img {
    position:absolute;
    top:0;
    bottom:0
    left:0;
    right:0;
    border-width:0;
}

#carousel, #carousel > .carousel-inner, .carousel-inner > .item {
    /*border: none !important;
    /*padding:0 !important;*/
}

.carousel {
    position: relative;
}

.carousel-control[role="button"].left {
    right: 3em;
    bottom: 29px;
}

.carousel-control[role="button"] {
    position: absolute;
    bottom: 30px;
    top: auto;
    left: auto;
    right: 0;
}

#carousel2 > .carousel-inner {
        min-height: 28em;
}

@media (min-width: 768px) {
    #carousel2 > .carousel-inner {
        min-height: 28em;
    }
}

@media (min-width: 992px) {
    #carousel2 > .carousel-inner {
        min-height: 24em;
    }
}

@media (min-width: 992px){
    /*#main > .row {
        -moz-column-count: 3;
        -moz-column-gap: 2em;
        -webkit-column-count: 3;
        -webkit-column-gap: 2em;
        column-count: 3;
        column-gap: 2em;
        }*/
    }

    #important-info {
        margin:0.5em -0.8em 0.2em;
        font-size: 1em;
        text-align:center;
        font-weight: bold;
        /*text-transform: uppercase;*/
        -webkit-animation-delay: 5s;
        animation-delay: 5s;
    }

    #important-info p {
        animation-delay: 5s;
        -webkit-animation-delay: 5s;
        animation-iteration-count: 2;   
        -webkit-animation-iteration-count:2;
        padding: 0.5em;
        margin: 0.5em 0;
        transform: translate3d(0,0,0);
    }

    @media (min-width: 768px) {
        #important-info {
            margin:0.5em -0.8em 0em;
        }
    }
    /* Footer *************************************************************************************/
    #footer {
        font-size: 0.8em;
        padding:2em;
        margin-left:-15px;
        margin-right: -15px;
        box-shadow: 0 -1px 15px rgba(0,0,0,0.6);
        border-top: 1px rgba(255,255,255,0.2) solid;
    }

    #footer h1{
        font-size: 1.5em;
        text-shadow:none;
    }

    #footer footer{
        font-size:1.1em;
        text-align: center;
        color: transparent;
        font-weight: bold;
        text-shadow: 0 -1px 0 rgba(36,64,121,0.5), 0 1px 0 rgba(255,255,255,0.3), 0 2px 0 rgba(136,164,221,0.9);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
    }

    #footer .panel.panel-default{
        background-color: #aaf;
        background-color:rgba(200,200,255,0.6);
    }
/* Images
*********************************************************************************/

.jumbotron img {
    height:auto;    
}

#main img {
    width: 100%;
    max-width:100%;
    margin:0.5em 0 1em;
    border:5px solid rgba(255,255,255,0.5);
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
}

/* Home page *********************************************************************************/
.jumbotron #home-hero {
    background-color: transparent;
    background-image: url('../img/dunav.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1em;
    opacity: 0.8;
    border-radius: 0;
    border: none;
    /*    margin: -20px;*/
    
}

@media (min-width: 768px) {
    .jumbotron #home-hero {
        padding: 1em;
        /*padding-left: 50%;*/
        min-height: 20em;
        border-radius: 5px;
        border-bottom: 2px rgba(0,0,0,0.7) solid;
        border-right: 2px rgba(0,0,0,0.7) solid;
        border-left: 2px  rgba(255,255,255,0.7) solid;
        border-top: 2px rgba(255,255,255,0.7)  solid;
    }

    .jumbotron #home-hero > div {
        border-radius: 5px;    
        background: rgba(255,255,255,0.6);
        /*float: none;*/
        position: relative;
        /*min-height: 2em;*/
    }

/*    #home-hero div:before {
        content:' ';    
        background: url('../img/ispy-run139779-evt4994190-v1-Copyright-hires.png') center ;
        background-size: cover;
        display:block;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 5px;
        z-index:-1;
        opacity:0.5;
        margin:0.2em;
        background-clip:content-box;
        }*/
    }

    .jumbotron #home-hero > div {
        background: rgba(255,255,255,0.6);
        padding: 1em;
        height:100%;
    }


    /* Scope *************************************************************************************/
    #so-far-the-schools-were-held-as-follows ~ ol {
        list-style: upper-roman;
    }

    /* Topics **************************************************************************************/

    #review-talks ~ ul, #lectures-program ~ ul, #laboratories-program ~ ul{
        padding-left: 2em;
    }

    #main.topics  ul li{
        list-style:none;
        margin-bottom:0.6em;
        line-height:1.1em;
    }

    #main.topics  ul li:before{
        content: "\00bb";
        left:2em;
        position: absolute;
    }

    #review-talks ~ ul strong,
    #lectures-program ~ ul strong,
    #laboratories-program ~ ul strong {
        font-weight: normal;
        font-style: italic;
        font-size: 0.95em;
    }

    #review-talks  ~ ul em,
    #lectures-program  ~ ul em,
    #laboratories-program  ~ ul em {
        color: rgba(255,0,0,0.7);
        white-space: nowrap;
        vertical-align: baseline;
        font-size: 0.8em;
    /*
    margin-bottom: 0.5em;
    display: inline-block;
    */
}

#main.topics table.programme, #main.topics table.programme th, #main.topics table.programme td {
    text-align: center;
    border: 1px solid gray;
}




/* Contact **************************************************************************************/
#contact {
    margin-top:1.3em;
    margin-bottom:1em;
}

#contact ~ h3{
    margin-top: 1.5em;
    margin-bottom:1em;
}

#contact ~ div article{
    border: 1px solid black;
    margin: 1em;
    padding: 0.5em;
    overflow: hidden;
    background: rgba(255,255,255,0.6);
}

/* Travel and Accommodation****************************************************************************/
#coming-to-serbia-by-plane ~ h4:hover{
    background:gray;
    background: rgba(64,64,64,0.5);
}

#coming-to-serbia-by-plane ~ h4{
    height: auto;
    padding:5px 15px;
    transition: all 0.4s;
    border-radius:100px;
    cursor: pointer;
    background: lightgray;
    background: rgba(127,127,127,0.3);
    border: 1px solid gray;
    border-bottom-width:2px;
}

#coming-to-serbia-by-plane ~ h4

/* Registration **************************************************************************************/
#mc_embed_signup {
    margin: 0 auto;
    width:80%;
}

.mc-address-group{
    margin: 1em 0;
    padding: 1em;
    border:1px solid rgba(0,0,0,0.3);
}

.mc-address-group:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.mc-field-group{
    width:100%;
}

.mc-field-group.input-group ul {
    border: 1px solid rgba(0,0,0,0.3);
    background:white;
}

.mc-field-group.input-group ul li input{
    margin: 0.5em 0.5em 0.5em 1em;
}

#mc-embedded-subscribe:hover{
    background: rgba(255,255,255,0.5);
}

#mc-embedded-subscribe:focus{
    background: rgba(255,255,255,0.5);
}

input#mc-embedded-subscribe.btn{
    font-size: 20px;
    height: 40px;
    width: 10em;
    max-width:80%;
}


#mc_embed_signup .mc-field-group label[for="mce-BDATE-month"] > .asterisk {
    right:auto;
    left: 8em;
}

#mc-embedded-subscribe-form textarea{
    width:100%;
}

#mc-embedded-subscribe-form .mc-field-group input,
#mc_embed_signup .mc-field-group.input-group ul,
#mc-embedded-subscribe-form textarea{
    border-radius: 5px;
    border:1px solid #223e77;
    border-bottom-width:3px;
}

.mc-address-group {
    border:1px solid #223e77;
    border-radius:3px;
}

/* Links ********************************************************************************************/
#useful-links + ul {
    padding-left: 1em;
}

#useful-links + ul > li {
    list-style: none;
    padding-left:0;
}

#useful-links + ul > li > a:before{
    content: "\00bb";
    left:1em;
    position: absolute;
}

#useful-links + ul > li > a > em {
    float:right;
    text-decoration: underline;
    display:block;
}

@media (max-width: 768px){
    #useful-links + ul > li > a > em {
        display:none;
    }
}

#useful-links + ul > li > a {
    float: left;  
    display: block;
    width:100%;
}

#useful-links + ul > li > a:hover {
    /*background: rgba(255,255,255,0.5);*/
}

#weather-widget img{
    width:100%;
}

/* Gallery ********************************************************************************************/
 #lightGallery {
   padding-left:0;
   transform: translate3d(0,0,0);
 }
 
 #lightGallery li {
   list-style: none;
 }
 
 #lightGallery li img{
   cursor: pointer;
 }  
